* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.form {
    padding: 1rem;
}

.form > input {
    padding: 0.3rem;
    margin: 0.5rem;
    
}

.form > button {
    padding: 0.3rem;
    
}

input:hover, input:focus, textarea:hover, textarea:focus {
    outline: 2px solid rgb(87, 235, 255);
}